.sidebar {
  direction: rtl;
  width: 20%;
  height: 88%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e9e6ed;
  border-right: 3px solid #96f3ec;
  float: right;
  scrollbar-width: thin;
  scrollbar-color: #e3e3e3 transparent;
}

.sidebar-item {
  padding: 7px 7px;
  margin: 7px 3px;
  cursor: pointer;
  border-right: 3px solid #bab7b7;
  border-radius: 7px;
  border-left: 3px solid #bab7b7;
}

.sidebar-item:hover {
  background-color: #a7c1c1;
}

.sidebar-item:before {
  padding-left: 7px;
  color: currentcolor;
}

.sidebar-item.active {
  background-color: #a7c1c1;
  box-shadow: 1px 9px 17px 0px #bab69e;
  color: #131111;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #a3a3ad;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
