.sidebar {
    width: 20%;
    height: 88%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #e9e6ed;
    border-right: 3px solid #96f3ec;
    float: right;
}

.sidebar-item {
    padding: 7px 7px;
    margin: 7px 3px;
    cursor: pointer;
    border-right: 3px solid #bab7b7;
    border-radius: 7px;
    border-left: 3px solid #bab7b7;
}

.sidebar-item:hover {
    background-color: #a7c1c1;
}

.sidebar-item:before {
    padding-left: 7px;
    color: currentcolor;
}

.sidebar-item.active {
    background-color: #a7c1c1;
    box-shadow: 1px 9px 17px 0px #bab69e;
    color: #131111;
}